.card__title {
    color:  #131313;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 125%;
    letter-spacing: -0.24px;
    margin: 0;
    padding: 0;
    text-align: center;
    align-items: center;
    display: flex;
}

@media screen and (max-width: 990px){
    .card__title{
        font-size: 20px;
        line-height: 120%;
        letter-spacing: -0.2px;
    }
}

@media screen and (max-width: 420px){
    .card__title{
        align-self: flex-start;
        text-align: start;
    }
}