.search__options {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 100%;
    top: 72px;
    background-color: #FFF;
    border-radius: 2px;
    box-shadow: 0px 0px 16px 0px rgba(30, 30, 30, 0.10);
    z-index: 2;
}


@media screen and (max-width: 420px){
    .search__options{
        top: 70px;
    }
}
