.card__button{
    display: flex;
    height: 44px;
    padding: 8px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    background:  #383838;
    color:  #FFF;
    font-family: Roboto;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; 
    letter-spacing: 0.3px;
    margin: 0;
    align-self: center;
    margin-left: auto;
}

.card__button:hover{
    cursor: pointer;
}

@media screen and (max-width: 990px){
    .card__button{
        margin: 24px 0;
        align-self: flex-start;
    }
}

@media screen and (max-width: 420px){
    .card__button{
        width: 100%;
    }
}