.search__button-clear{
    position: absolute;
    display: none;
    color: #0D7AD9;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 145%;
    top: 230px;
    border: none;
    background: none;
    flex-direction: row;
    gap: 4px
}

@media screen and (max-width: 990px){
    .search__button-clear{
        position: relative;
        font-size: 14px;
        line-height: 140%;
        top: 0;
    }  
}