.main__title {
    color: #131313;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 500;
    line-height: 58px;
    margin: 0 0 40px;
    padding: 0;
}

@media screen and (max-width: 990px){
    .main__title{
        font-size: 34px;
        line-height: 120%;
        letter-spacing: -0.34px;
        margin-bottom: 24px;
    }
}