.search__input-block {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width: calc(265.5/547*100%);
    position: relative;
    gap: 4px;
}

@media screen and (max-width: 990px){
    .search__input-block{
        width: 100%;
    }
}