.search__option {
    display: flex;
    height: 40px;
    padding: 8px 12px;
    align-items: center;
    align-self: stretch;
    box-sizing: border-box;
}

.search__option:hover {
    background:  #0D7AD9;
    color: #FFF;
    cursor: pointer;
}