.footer__contacts-text{
    color:  #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; 
    margin: 0;
    padding: 0;
}

@media screen and (max-width: 990px){
    .footer__contacts-text{
        font-size: 16px;
    }
}